* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$colors: (
  bgDark: #333,
  bgDarker: #222,
  bgLight: #fee,
  textLight: #333,
  textDark: #fee,
  linkDark: #3af,
  linkDarkHover: #4bf,
  detailTextDark: #999,
  buttonTextDark: white,
  xButtonDark: #c33,
  xButtonDarkHover: #e22,
  buttonAltDark: #3a4,
  buttonAltDarkHover: #5c6,
  lightRed: rgba(230, 100, 100, 1)
);
@mixin less1100 {
  @media (max-width: 1100px) {
    @content;
  }
}
ul {
  list-style: none;
}
.app {
  position: relative;
}
.nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header-text {
  font-size: 24px;
}
.nav-dark {
  background: map-get($colors, bgDarker);
  color: map-get($colors, textDark);
}
.nav-link {
  font-size: 22px;
  text-decoration: none;
}
.nav-link-dark {
  color: map-get($colors, linkDark);
  &:hover {
    color: map-get($colors, linkDarkHover);
  }
}
.nav-btn {
  display: block;
  min-width: 80px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.nav-btn-dark {
  color: white;
  background: map-get($colors, buttonAltDark);
  &:hover {
    background: map-get($colors, buttonAltDarkHover);
  }
}
.nav-link-group {
  display: flex;
}
.like-heart-button {
  background: transparent;
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
  &:hover {
    color: red;
  }
}
.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-dark {
  background: map-get($colors, bgDarker);
  color: map-get($colors, textDark);
}
.page-body {
  padding-top: 30px;
  height: 100%;
  min-height: calc(100vh - 180px);
  font-size: 28px;
  padding-bottom: 100px;
  position: relative;
}
.body-dark {
  background: map-get($colors, bgDark);
  color: map-get($colors, textLight);
}
.card {
  width: 400px;
  max-width: 100%;
  min-height: 200px;
  padding: 15px;
  margin: 0px auto 10px auto;
}
.card-wide {
  width: 90%;
  min-height: 100px;
  margin: 0px auto 10px auto;
  padding: 10px 15px 10px 15px;
}
.card-dark {
  background: map-get($colors, bgDarker);
  color: map-get($colors, textDark);
}
.input-field {
  border-radius: 4px;
  font-size: 20px;
  font-family: "Open sans";
}
.text-input {
  height: 40px;
  max-width: 400px;
  padding-left: 8px;
  width: 100%;
  border: 1px solid black;
  &:focus {
    box-shadow: 0px 0px 20px lightblue;
  }
}
.text-input-invalid {
  height: 30px;
  max-width: 400px;
  padding-left: 8px;
  width: 100%;
  border: 1px solid red;
  box-shadow: 0px 0px 20px red;
}
.text-area-input {
  height: 400px;
  width: 600px;
  max-width: 100%;
  padding: 8px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid black;
  resize: none;
  &:focus {
    box-shadow: 0px 0px 20px lightblue;
  }
}
.text-area-input-invalid {
  height: 400px;
  width: 600px;
  max-width: 100%;
  padding-left: 8px;
  margin-top: 10px;
  width: 100%;
  box-shadow: 0px 0px 20px red;
  resize: none;
}
.error-text {
  color: map-get($colors, lightRed);
}
.error-box {
  width: 100%;
  padding: 30px;
  background: map-get($colors, lightRed);
  text-align: center;
  color: map-get($colors, textDark);
}
.text-dark {
  font-size: 24px;
  color: map-get($colors, textDark);
}
.detail-text-dark {
  font-size: 22px;
  color: map-get($colors, detailTextDark);
}
.btn {
  min-width: 80px;
  border: 0px;
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
}
.btn-blue {
  background: #47f;
  color: map-get($colors, buttonTextDark);
  &:hover {
    background: #48f;
  }
}
.btn-green {
  background: map-get($colors, buttonAltDark);
  color: map-get($colors, buttonTextDark);
  &:hover {
    background: map-get($colors, buttonAltDarkHover);
  }
}
.btn-yellow {
  background: #ffe500;
  color: map-get($colors, textLight);
  &:hover {
    background: #ffee56;
  }
}
.btn-gray {
  background: #999;
  color: map-get($colors, buttonTextDark);
  &:hover {
    background: #aaa;
  }
}
.btn-dark {
  background: #222;
  color: map-get($colors, buttonTextDark);
  &:hover {
    background: #444;
  }
}
.btn-red {
  background: map-get($colors, xButtonDark);
  color: map-get($colors, buttonTextDark);
  &:hover {
    background: map-get($colors, xButtonDarkHover);
  }
}
.x-btn-dark {
  position: absolute;
  top: 0;
  right: 0;
  background: map-get($colors, xButtonDark);
  color: map-get($colors, buttonTextDark);
  border: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    background: map-get($colors, xButtonDarkHover);
  }
}
.min-btn-dark {
  position: absolute;
  top: 0;
  right: 40px;
  background: map-get($colors, linkDark);
  color: map-get($colors, buttonTextDark);
  border: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    background: map-get($colors, linkDarkHover);
  }
}
.header-text-dark {
  text-align: center;
  margin: 0 auto 30px auto;
  color: map-get($colors, textDark);
}
.link {
  text-decoration: none;
}
.link-dark {
  color: map-get($colors, linkDark);
  &:hover {
    color: map-get($colors, linkDarkHover);
  }
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-align-center {
  align-items: center;
}
.flex-between {
  justify-content: space-between;
}
.flex-around {
  justify-content: space-around;
}
.flex-column {
  flex-direction: column;
}
.like-box {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.forum-top-links {
  width: 90%;
  margin: 0px auto 10px auto;
  display: flex;
  justify-content: space-between;
}
.forum-card-text-and-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.new-thread-form-holder {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.new-thread-form {
  margin: 30px auto 0px auto;
  padding: 30px;
  width: 800px;
  max-width: 100%;
  border: 1px solid map-get($colors, linkDark);
  position: relative;
}
.bg-dark {
  background: map-get($colors, bgDark);
}
.form-label {
  display: block;
  margin-top: 5px;
}
.reply-card-master {
  border: 1px solid map-get($colors, linkDark);
}
.td-padding {
  padding-right: 100px;
}
#character-windows-holder {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  border: 1px solid map-get($colors, linkDark);
  width: fit-content;
  margin: 0 auto;
  @include less1100 {
    flex-direction: column;
  }
}
.stats-tab-button {
  width: 50%;
  height: 80px;
  font-size: 26px;
  color: map-get($colors, textDark);
  background: map-get($colors, bgDarker);
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}
#stats {
  display: block;
  align-self: flex-start;
  width: 350px;
  @include less1100 {
    margin-bottom: 30px;
  }
}
.stats-table {
  font-size: 1.2rem;
  color: map-get($colors, textDark);
  margin-top: 12px;
  width: 96%;
  height: fit-content;
  td {
    padding-left: 10px;
  }
}
.stats-table-number-column {
  width: 30%;
  text-align: center;
  border: 1px solid grey;
}
#current-equipment {
  border-right: 1px solid map-get($colors, linkDark);
  border-left: 1px solid map-get($colors, linkDark);
  width: 350px;
  height: 550px;
  display: block;
  @include less1100 {
    border-left: none;
    border-right: none;
    border-top: 1px solid map-get($colors, linkDark);
  }
}
#item-stats {
  height: 80px;
  border-bottom: 1px solid map-get($colors, linkDark);
  color: map-get($colors, textDark);
}
#eq-grid {
  margin-top: 15px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
  .eq-grid-item {
    color: map-get($colors, textDark);
    border: 1px solid grey;
    height: 100px;
    width: 80px;
    .eq-slot-label {
      font-size: 0.8rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      pointer-events: none;
    }
    .eq-img-holder {
      position: relative;
      height: 80px;
    }
    img {
      width: 100%;
    }
  }
}
.unequip-hover {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  color: map-get($colors, linkDark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
#inventory {
  width: 350px;
  height: 550px;
  display: block;
  color: map-get($colors, textDark);
  @include less1100 {
    border-top: 1px solid map-get($colors, linkDark);
  }
}
.small-window-header {
  border-bottom: 1px solid map-get($colors, linkDark);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#inventory-list {
  overflow: scroll;
  height: calc(100% - 80px);
  overflow-x: hidden;
}
.inventory-item {
  font-size: 1rem;
  width: 95%;
  margin: 15px auto 10px auto;
  border: 1px solid grey;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: repeat(1, auto);
  img {
    width: 100%;
    display: block;
  }
}
.btn-inv {
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
}
#equipment-shop {
  width: 350px;
  height: 550px;
  display: block;
  color: map-get($colors, textDark);
  border-right: 1px solid map-get($colors, linkDark);
  @include less1100 {
    border-right: none;
  }
}
.eq-shop-grid-holder {
  overflow: scroll;
  overflow-x: hidden;
  height: calc(100% - 80px);
}
.eq-shop-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 70% 30%;
  grid-template-rows: repeat(16, 50px);
  .eq-shop-grid-item {
    border-bottom: 1px solid grey;
  }
  .eq-shop-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
}
.shop-coin-icon {
  margin-left: 5px;
  height: 0.8rem;
}
.btn-fill {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  border: none;
  margin: 0;
  cursor: pointer;
}

.chat-open {
  display: block;
  height: 300px;
  width: 300px;
  position: fixed;
  z-index: 10;
  border: 1px solid map-get($colors, linkDark);
  bottom: 0px;
  right: 0;
  background: white;
  // cursor: nesw-resize;
}
.chat-window {
  overflow: scroll;
  overflow-x: hidden;
  background: gray;
}

.window-menu-bar {
  height: 40px;
  padding: 5px;
  color: map-get($colors, textDark);
  background: map-get($colors, bgDarker);
}
